<header class="navbar navbar-expand-md d-print-none shadow-sm rpms-navbar">

    <div class="container-fluid px-3">

        <!-- Left Side -->

        <div class="d-flex align-items-center">

            <!-- Sidebar Toggle -->
            <button class="btn btn-icon btn-ghost-secondary me-2"
                    type="button">

                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     stroke-width="2"
                     stroke="currentColor"
                     fill="none"
                     stroke-linecap="round"
                     stroke-linejoin="round">

                    <path stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none" />

                    <path d="M4 6h16" />
                    <path d="M4 12h16" />
                    <path d="M4 18h16" />

                </svg>

            </button>

        </div>

        <!-- Right Side -->

        <div class="navbar-nav flex-row order-md-last">

            <!-- Notification -->

            <div class="nav-item me-3">

                <a href="#"
                   class="btn btn-icon btn-ghost-secondary">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         stroke-width="2"
                         stroke="currentColor"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round">

                        <path stroke="none"
                              d="M0 0h24v24H0z"
                              fill="none" />

                        <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3l1 2h-14l1-2v-3a7 7 0 0 1 4-6" />

                        <path d="M9 18a3 3 0 0 0 6 0" />

                    </svg>

                </a>

            </div>

            <!-- User Avatar -->

            <div class="nav-item dropdown">

                <a href="#"
                   class="nav-link d-flex align-items-center"
                   data-bs-toggle="dropdown">

                    <span class="avatar avatar-sm border">

                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="icon"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             stroke-width="2"
                             stroke="currentColor"
                             fill="none"
                             stroke-linecap="round"
                             stroke-linejoin="round">

                            <path stroke="none"
                                  d="M0 0h24v24H0z"
                                  fill="none" />

                            <circle cx="12"
                                    cy="7"
                                    r="4" />

                            <path d="M5.5 21a8.38 8.38 0 0 1 13 0" />

                        </svg>

                    </span>

                </a>

                <div class="dropdown-menu dropdown-menu-end">

                    <a class="dropdown-item"
                       href="#">

                        My Profile

                    </a>

                    <a class="dropdown-item"
                       href="#">

                        Change Password

                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item text-danger"
                       href="#">

                        Logout

                    </a>

                </div>

            </div>

        </div>

    </div>

</header>