@model ResearchPublicationManagementSystem.Models.CategoryListViewModel
@using ResearchPublicationManagementSystem.Models

@{
    ViewData["Title"] = "Category Management";
}

<partial name="_PageHeader"
         model='new PageHeaderViewModel
         {
             Title = "Category Management",
             Subtitle = "Manage publication categories."
         }' />

<div class="card">
    <div class="card-body">
        <!-- Search Box and Add User Button-->
        <partial name="_ListToolbar"
                 model="Model.Toolbar" />
    </div>
</div>
<div class="card mt-3">

    <div class="card-body">

        <partial name="_CategoryTable"
                 model="Model.Categories" />

    </div>
    <div class="card-footer">
        <partial name="_Pagination" />
    </div>

</div>
