@model UserListViewModel
@using ResearchPublicationManagementSystem.Models

@{
    ViewData["Title"] = "User Management";
}

<partial name="_PageHeader"
         model='new PageHeaderViewModel
         {
             Title = "User Management",
             Subtitle = "Manage system users and their roles."
         }' />

<div class="card">
    <div class="card-body">
        <!-- Search Box and Add User Button-->
        <partial name="_ListToolbar"
                 model="Model.Toolbar" />
    </div>
</div>
<div class="card mt-3">

    <div class="card-body">

        <partial name="_UserTable"
                 model="Model.Users" />

    </div>
    <div class="card-footer">
        <partial name="_Pagination" />
    </div>

</div>